---
layout: layouts/default.njk
---

<article class="mx-auto max-w-2xl py-8">
  <header class="mb-4">
    <time class="block text-sm text-gray-500"
      datetime="{{ page.date.toISOString() }}">
        {{ page.date.toISOString().slice(0,16).replace("T"," ") }}
    </time>
  </header>

  <div class="prose prose-slate max-w-none">
    {{ content | safe }}
  </div>
</article>
