@import "tailwindcss";

@config '../../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.visually-hidden {
  @apply absolute block h-px w-px overflow-hidden whitespace-nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
}

.external-link::after {
  content: "↗";
  font-style: normal;
  font-weight: 600;
  color: #00bcd4;
  padding-left: 2px;
  line-height: 0.75;
}

@layer base {
  body {
    font-family:
      Inter,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      helvetica,
      Arial,
      sans-serif;
  }
}

.toc ol {
  list-style: decimal;
  padding-left: 1.25rem;
  margin: 0;
}
.toc ol ol {
  list-style: disc;
  margin-top: 0.25rem;
}
.toc a {
  color: #475569;
  text-decoration: none;
}
.toc a:hover {
  color: #b91c1c;
  text-decoration: underline;
}

.toc summary {
  list-style: none; /* entfernt den Standard-Pfeil in Firefox */
}
.toc summary::-webkit-details-marker {
  display: none; /* entfernt den Standard-Pfeil in Chrome/Safari */
}
.toc summary::before {
  content: "▶ ";
  font-size: 0.7em;
  transition: transform 0.2s;
  display: inline-block;
}
details[open].toc summary::before {
  transform: rotate(90deg);
}
