<footer class="mt-20 px-6 py-6 bg-slate-200 text-sm text-slate-700 text-center">
  <p>
    © 2025 <a href="{{ '/' | url }}" class="underline font-medium" target="_blank" rel="noopener">{{ site.title }}</a> · 
    Made by <a href="{{ author.homepage | url }}" class="underline font-medium" target="_blank" rel="noopener">{{ author.name }}</a>
  </p>
  <p class="mt-1">
    <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="license noopener" class="underline">
      CC BY-NC 4.0
    </a>
    <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="license noopener" class="inline-block align-middle ml-2">
      <img src="https://licensebuttons.net/l/by-nc/4.0/88x31.png" alt="Creative Commons License" class="inline h-4">
    </a>
  </p>
  <p class="mt-1">
    <a href="/datenschutz" class="underline">Datenschutz</a> · 
    <a href="/impressum" class="underline">Impressum</a>
  </p>
</footer>
