<footer class="mt-20 px-10 py-8 bg-slate-200">
  <div class="max-w-5xl mx-auto text-slate-700 text-center text-sm leading-relaxed">
    © 2025 <a href="{{ '/' | url }}" class="font-medium underline" target="_blank" rel="noopener">{{ site.title }}</a> | 
    Erstellt von <a href="{{ author.homepage | url }}" class="font-medium underline" target="_blank" rel="noopener">{{ author.name }}</a> mit 11ty.<br>
    Sofern nicht anders angegeben, sind alle Inhalte lizenziert unter einer 
    <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.de" target="_blank" rel="license noopener" class="underline font-medium">
      Creative Commons Namensnennung - Nicht kommerziell 4.0 International Lizenz (CC BY-NC 4.0)
    </a>.
    <br>
    <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="license noopener">
      <img src="https://licensebuttons.net/l/by-nc/4.0/88x31.png" alt="Creative Commons Lizenz" class="mx-auto mt-2">
    </a>
    <br>
    <a href="/datenschutz" class="underline">Datenschutz</a> |
    <a href="/impressum" class="underline">Impressum</a>
  </div>
</footer>
