<footer class="mt-20 px-10 py-6 bg-slate-200">

  <div class="max-w-5xl mx-auto text-slate-700 text-center text-sm leading-relaxed">
    © 2025 <a href="{{ '/' | url }}" class="font-medium underline" target="_blank" rel="noopener">{{ site.title }}</a> | 
    Erstellt von <a href="{{ author.homepage | url }}" class="font-medium underline" target="_blank" rel="noopener">{{ author.name }}</a> mit <a href="https://11ty.dev" class="font-medium underline" target="_blank" rel="noopener">11ty</a>.<br>
    
    <span class="mt-2"><a href="/datenschutz" class="underline">Datenschutz</a> | <a href="/impressum" class="underline">Impressum</a></span>

    <div class="flex justify-center items-center gap-2 flex-wrap">
      <span>Inhalte lizenziert unter:</span>
      <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.de" target="_blank" rel="license noopener" class="underline font-medium">
        CC BY-NC 4.0
      </a>
      <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="license noopener">
        <img src="https://licensebuttons.net/l/by-nc/4.0/88x31.png" alt="Creative Commons Lizenz" class="h-4">
      </a>
    </div>
    
  </div>
</footer>

